<!DOCTYPE html>
<html lang="en" ng-app="Primes">

<head>
  <title>Primes</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-bindonce/bindonce.js"></script>
  <style>
    table {
      table-layout: fixed;
      border-collapse: collapse;
    }
    tbody {
      table-layout: fixed;
    }
    td {
      width: 100px;
      height: 20px;
    }
  </style>
</head>

<body>
  <h1>Primes</h1>

  <div ng-controller="primesController" ng-cloak>
    <button id="find" ng-click="find()">Find</button> <input ng-model="n" /> primes.
    <p>AngularJs application found first {{ primes.length }} prime numbers.</p>
    <table id="table" width="500">
      <colgroup>
        <col width="100">
        <col width="100">
        <col width="100">
        <col width="100">
        <col width="100">
      </colgroup>
      <tbody></tbody>
    </table>
  </div>

  <script>
    (function primesApp() {

      function isPrime(n) {
        var k;
        var limit = Math.sqrt(n);
        for (k = 2; k <= limit; k += 1) {
          if (n % k === 0) {
            return false;
          }
        }
        return true;
      }
      console.assert(isPrime(1));
      console.assert(isPrime(2));
      console.assert(isPrime(3));
      console.assert(!isPrime(4));
      console.assert(isPrime(5));
      console.assert(!isPrime(6));
      console.assert(isPrime(7));
      console.assert(isPrime(37));
      console.assert(!isPrime(38));

      // finds Nth prime
      var foundPrimes = [];
      function findPrime(n) {
        var k;
        if (foundPrimes.length) {
          k = foundPrimes[foundPrimes.length - 1] + 1;
        } else {
          k = 1;
        }
        while (foundPrimes.length < n) {
          if (isPrime(k)) {
            foundPrimes.push(k);
          }
          k += 1;
        };
        return foundPrimes[n - 1];
      }
      console.assert(findPrime(1) === 1);
      console.assert(findPrime(2) === 2);
      console.assert(findPrime(3) === 3);
      console.assert(findPrime(4) === 5);
      console.assert(findPrime(5) === 7);

      angular.module('Primes', ['pasvaz.bindonce'])
        .filter('isPrime', function () {
          return isPrime;
        })
        .controller('primesController', function ($scope, $filter, $timeout, $q) {
          var number = $filter('number');
          $scope.n = 100;

          function computePrimes(first, last) {
            console.log('computing primes from', first, 'to', last);
            var k;
            for (k = first; k < last; k += 1) {
              var prime = findPrime(k + 2);
              $scope.primes.push(prime);
            }
          }

          function generateTableRows(first, last) {
            console.log('rendering primes from', first, 'to', last);
            var k;
            var txt = angular.bind(document, document.createTextNode);
            var table = document.createElement('table');
            for(k = first; k < last; k += 1) {
              var row = table.insertRow();
              row.insertCell().appendChild(txt('index'));
              row.insertCell().appendChild(txt(k + 1));
              row.insertCell().appendChild(txt('prime number'));
              row.insertCell().appendChild(txt($scope.primes[k]));
              row.insertCell().appendChild(txt('is prime? true'));
            }
            document.body.appendChild(table);
            console.timeStamp('updated tbody ' + first + ' to ' + last);
          }

          function computeAndRenderBatch(first, last) {
            computePrimes(first, last);
            generateTableRows(first, last);
            return $timeout(angular.noop, 0);
          }

          $scope.find = function () {
            console.log('computing first', $scope.n, 'primes');

            foundPrimes = [];
            $scope.primes = [];

            var batchSize = 50;
            var k;

            var computeAndLetUiRender = $q.when();
            var computeNextBatch;

            for (k = 0; k < $scope.n; k += batchSize) {
              computeNextBatch = angular.bind(null, computeAndRenderBatch,
                k, Math.min(k + batchSize, $scope.n));
              computeAndLetUiRender = computeAndLetUiRender.then(computeNextBatch);
            }

            return computeAndLetUiRender.then(function () {
              console.log('all done');
            });
          };
        });
    }());
  </script>
</body>
</html>
