<!DOCTYPE html>
<html lang="en" ng-app="Primes">

<head>
  <title>Primes</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-bindonce/bindonce.js"></script>
  <style>
    table {
      table-layout: fixed;
      border-collapse: collapse;
    }
    tbody {
      table-layout: fixed;
    }
    td {
      width: 100px;
      height: 20px;
    }
  </style>
</head>

<body>
  <h1>Primes</h1>

  <div ng-controller="primesController" ng-cloak>
    <button id="find" ng-click="find()">Find</button> <input ng-model="n" /> primes.
    <p>AngularJs application found first {{ computedN }} prime numbers.</p>
    <table id="table" width="500">
      <colgroup>
        <col width="100">
        <col width="100">
        <col width="100">
        <col width="100">
        <col width="100">
      </colgroup>
      <tbody></tbody>
    </table>
  </div>

  <script>
    (function primesApp() {

      angular.module('Primes', [])
        .factory('PrimeWorker', function ($q) {
          var worker = new Worker('./primes.js');
          var defer;

          worker.onmessage = function(e) {
            defer.resolve(e.data);
          };

          return {
            computePrimes: function (first, last) {
              defer = $q.defer();
              worker.postMessage({
                first: first,
                last: last
              });
              return defer.promise;
            }
          }
        })
        .controller('primesController', function ($scope, $filter, $timeout, $q, PrimeWorker) {
          var number = $filter('number');
          $scope.n = 150000;

          function computePrimes(first, last) {
            return PrimeWorker.computePrimes(first, last).then(function (numbers) {
              var k, n = numbers.length;
              for(k = 0; k < n; k += 1) {
                $scope.primes[$scope.computedN] = numbers[k];
                $scope.computedN += 1;
              }
            });
          }

          function generateTableRows(first, last) {
            // console.log('rendering primes from', first, 'to', last);
            var k;
            var txt = angular.bind(document, document.createTextNode);
            var table = document.createElement('table');
            for(k = first; k < last; k += 1) {
              var row = table.insertRow();
              row.insertCell().appendChild(txt('index'));
              row.insertCell().appendChild(txt(k + 1));
              row.insertCell().appendChild(txt('prime number'));
              row.insertCell().appendChild(txt($scope.primes[k]));
              row.insertCell().appendChild(txt('is prime? true'));
            }
            document.body.appendChild(table);
            // console.timeStamp('updated tbody ' + first + ' to ' + last);
          }

          function computeAndRenderBatch(first, last) {
            return computePrimes(first, last).then(function () {
              generateTableRows(first, last);
              return $timeout(angular.noop, 0);
            });
          }

          $scope.find = function () {
            console.log('computing first', $scope.n, 'primes');

            foundPrimes = [];
            $scope.primes = new Array($scope.n);
            $scope.computedN = 0;

            var batchSize = 10000;
            var k;

            var computeAndLetUiRender = $q.when();
            var computeNextBatch;

            for (k = 0; k < $scope.n; k += batchSize) {
              computeNextBatch = angular.bind(null, computeAndRenderBatch,
                k, Math.min(k + batchSize, $scope.n));
              computeAndLetUiRender = computeAndLetUiRender.then(computeNextBatch);
            }

            return computeAndLetUiRender.then(function () {
              console.log('all done');
            });
          };
        });
    }());
  </script>
</body>
</html>
